/**
 * Copyright 2020 wdgt <dev@justiva.ru>
 * @Sinups
 */
@import '../../scss/variables/colors';


.container {
  all: initial;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-family: $font;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}
.notification {
  display: flex;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 330px;
}
.avatar {
  margin-right: 20px;
}

.info {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.sub_title {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  line-height: 1;

}


