.form {
  max-width: 350px;
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  padding: 30px 25px 20px;
  position: relative;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
}
