.form {

  .field {
    display: block;
    margin: 5px auto;
    text-align: center;

    label, span {
      display: block;
      margin-bottom: 10px;
    }
  }

  input[type="submit"] {
    display: block;
    margin: 10px auto;
  }
}
