/**
 * Copyright 2020 wdgt <dev@justiva.ru>
 * @Sinups
 */
@import '../../scss/variables/colors';


.privacy_policy {
  font-family: $font;
  margin-top: 18px;
  margin-bottom: 5px;
  display: flex;
  position: relative;
  user-select: none;

  .privacy_policy_text {
    font-size: 10px;
    line-height: 11px;
    color: #A1A3AA;
    text-decoration: none;

    span {
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}

