/*
 * Copyright 2020 wdgt  <dev@justiva.ru>
 */
/* 
@import 'croppie/croppie.css';
@import 'react-select/dist/react-select.css';
@import 'react-virtualized/styles.css';
@import 'react-virtualized-select/styles.css'; */

.tether-element {
  z-index: 1000;
}
