/*
* Copyright 2020 wdgt  <dev@justiva.ru>
*/

@define-mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@define-mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@define-mixin no-select {
  cursor: default;
  user-select: none;
}

@define-mixin flex-fix {
  min-width: 0;
  min-height: 0;
}
