body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  display: block;
  border: 0;
  background-color: #000;
}


:global(.demo_btn) {
  padding: 7px 10px !important;
  border: none !important;
  border-radius: 3px !important;
  background: #2964ff !important;
  color: #fff !important;
  margin-right: 10px !important;
}
