$base-class: "launcher";

.#{$base-class} {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #2A65FF;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 19px 38px 0 rgba(34,36,43,.3);

  .fix {
    /* flexbox fix for safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 99;
  }
  &--small {
    width: 54px;
    height: 54px;
  }

  &--regular {
    width: 64px;
    height: 64px;
  }

  &--large {
    width: 74px;
    height: 74px;
  }


  &__chat_icon {
    display: block;
  }

  &__close_icon {

    display: block;
  }

}
.border {
  border: 4px solid #fff;
}
.open {

}
.open .icon {
  transform: rotate(90deg);
}
.open > .flip_box_front, .flip_box_back  {
  transform: rotate(90deg);
}

.open > .icon_close {
  width: 10px;
  height: 10px;
}
/*Pulse Animation*/
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1
  }
  75% {
    transform: scale(0);
    opacity: 1
  }

  87.5% {
    opacity: .5
  }
  100% {

    transform: scale(1);
    opacity: 0
  }

}
.pulsation {
  background: #2A65FF;
  width: 105px;
  height: 105px;
  border-radius: 50px;
  position: absolute;
  z-index: 9;
  transform: scale(0);
  animation: pulse 8s linear infinite;
}

.launcher_box {
  user-select: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 0;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.animationEnded {
  animation:none;
}


/*Custom 3D animation*/
.flip_box {
  display: flex;
}

.flip_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip_box_front_img {
  border-radius: 50%;
}
.flip_box .flip_box_inner {
  animation: flip3d 7s infinite;
}

.flip_box_front, .flip_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip_box_back {
  transform: rotateY(180deg);
  /*animation: flip3dFront 7s infinite;*/
}

/*Flip btn*/
@keyframes flip3dFront {

  0%,
  77.14% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }

  80%,
  97.14% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

@keyframes flip3d {

  0%,
  42.86% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }

  50%,
  92.86% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

.animationEnded {
  animation:none;
}
