/**
 * Copyright 2020 wdgt <dev@justiva.ru>
 * @Sinups
 */
@import '../../styles/variables.scss';

/* Styles */
.container {
  all: initial;
  font-family: $font-family;

}
.checkbox {
  color: #000;
}
