/**
 * Copyright 2020 wdgt <dev@justiva.ru>
 * @Zaritsky
 */
@import '../../scss/variables/colors';

.message {
  font-family: $font;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-top: 1px solid #C1C0C4;

  .field {
    display: flex;
    align-items: center;

    textarea {
      width: 100%;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.45px;
      border: none;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    .icon {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .statusBar {

    span {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.45px;
      color: #ACABB0;
    }

    .bar {
      width: 100%;
      height: 2px;
      background-color: #F0F1F5;
      position: relative;
      z-index: 0;
      transition: all 0.6s;

      .line {
        position: relative;
        z-index: 1;
        height: 2px;
      }
    }
  }
}
