/**
 * Copyright 2020 wdgt <dev@justiva.ru>
 * @Zaritsky
 */
@import '../../scss/variables/colors';

.message {
  font-family: $font;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-top: 1px solid #C1C0C4;
  border-radius: 0 0 6px 6px;
  .btn_group_container {
    width: 80px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    box-sizing: border-box;
    position: inherit;
    justify-content: flex-end;
  }
  .send_btn_box {
    width: 32px;
    height: 32px;
    background: #2a65ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -7px;
    cursor: pointer;
    .icon {
      margin-right: -3px;
    }
  }
  .emoji_btn_box{
    padding-left: 0;
    padding-right: 15px;
    margin-bottom: -2px;
    cursor: pointer;
  }
  .textarea_container {
    display: flex;
    textarea {
      width: 100%;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.45px;
      border: none;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  .statusBar {

    span {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.45px;
      color: #ACABB0;
    }

    .bar {
      width: 100%;
      height: 2px;
      background-color: #F0F1F5;
      position: relative;
      z-index: 0;
      transition: all 0.6s;

      .line {
        position: relative;
        z-index: 1;
        height: 2px;
      }
    }
  }
}
