*[class^="rsg-"] {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

*[class^="rsg-"],
*[class^="rsg-"]::before,
*[class^="rsg-"]::after {
  box-sizing: inherit;
}
