@import '../../../src/scss/variables/colors';

.container {
  all: initial;
  display: block;
  font-family: $font;
}

.header {
  padding: 15px 8px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.wrapper {
  padding: 8px;
  box-sizing: border-box;
}

.selectWrapper {
  width: 170px;
}

.select {
  margin: 0;
  flex: 0 0 auto;
}

.transparent {
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef),
    linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;

}

.white {
  background-color: #fff;
}

.toggle {
  flex: 0 0 auto;
  &:focus {
    outline: none;
  }
}

.spacer {
  flex: 1 1 auto;
}
